<section class="p-4 bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 min-h-screen transition-colors duration-300">
  <app-theme-toggler />

  <app-pagination
    [currentPage]="manufacturerService.currentPage()"
    [nextIsDisabled]="manufacturerService.nextIsDisabled()"
    (pageChange)="manufacturerService.setPage($event)"
  />

  <app-manufacturer-type-filter />

  @if (manufacturerService.loading()) {
    <app-loading-spinner />
  } @else if (manufacturerService.error()) {
    <p class="text-center text-red-600 dark:text-red-400">{{ manufacturerService.error() }}</p>
  } @else {
    <app-manufacturers-list
      [manufacturers]="manufacturerService.manufacturers()"
    />
  }
</section>